
//footer.tmpl
{{define "footer"}}
</body>
</html>
{{end}}

//When using subtemplating make sure that you have parsed each sub template file,
//otherwise the compiler wouldn't understand what to substitute when it reads the {{template "header"}}

{% endraw %}
